<!DOCTYPE html>
<html lang="en" ng-app="mpd">
<head>
	<meta charset="UTF-8"/>
	<title>MPyC</title>
	<link rel="shortcut icon" href="#"/>
	<link rel="stylesheet" id='stylesheet' href="{{ url_for('static', filename='style.css') }}" title='Standard layout'/>
	<script src="{{ url_for('static', filename='angular.min.js') }}"></script>
	<script src="{{ url_for('static', filename='mpdcontrollers.js') }}"></script>
</head>
<body>
	<div id="mpd-container">
		<div id="mpd-status-container" class="mpd-status" ng-controller="StatusCtrl">
			<div id="mpd-status-left">
				<span id="mpd-current-tracktime"><span id="mpd-current-tracktime-text">{{ '{{status.time.split(":")[0] | duration}}' }}</span>/<span id="mpd-current-total-tracktime-text">{{ '{{status.time.split(":")[1] | duration}}' }}</span></span>
				<span id="mpd-current-status-text">{{ '[{{status.state | state}}]' }}</span>
			</div>
			<div id="mpd-status-center">
				--| <span id="mpd-current-album-text" class="track-album-color">{{ '{{currentsong.album}}' }}</span> |--
				<span id="mpd-current-track" ng-click="broadcastCurrentSongPage()">
					<span id="mpd-current-artist-text" class="track-artist-color">{{ '{{currentsong.artist}}' }}</span> - <span id="mpd-current-track-text" class="track-title-color">{{ '{{currentsong.title}}' }}</span> (<span id="mpd-current-trackdate-text">{{ '{{currentsong.date }}' }}</span>)
				</span>
			</div>
			<div id="mpd-status-right">
				<span id="mpd-volume-text">{{ '{{status.volume | volume}}' }}</span>
				<span id="mpd-flags-text"></span>
			</div>
		</div> <!-- mpd-status-container -->
		<br class="clearfloat"/>
		<hr/>
		<div ng-controller="PlaylistInfoCtrl">
			<div id="mpd-playlist-stats" ng-controller="PlaylistInfoCtrl">
				Playlist: (<span id="mpd-playlist-items-text">{{ '{{playlistinfo.length}}' }}</span> items, length: <span id="mpd-playlist-length-text">{{ '{{playlist_total_time_secs | duration:true}}' }}</span>)
			</div> <!-- mpd-playlist-stats -->
			<hr class="clearfloat"/>
			<div id="mpd-playlist">
				<table id="mpd-playlist-table">
					 <thead id="mpd-playlist-table-head">
						<tr>
							<th class="table-header" ng-repeat="header in headers">{{ '{{header}}' }}</th>
						</tr>
					</thead>
					<tbody>
						<tr id="playlist-pos-{{ '{{track.pos}}' }}" class="playlist-pos" ng-class="{'track-current': track.pos==currentSongPos}" ng-repeat="track in playlistinfo | paging:currentPage*pageSize | limitTo:pageSize">
							<td class="track-{{ '{{ti}}' }} track-{{ '{{ti}}' }}-color" title="{{ '{{track[ti]}}' }}" ng-repeat="ti in track_info">{{ '{{track[ti]}}' }}</td>
						</tr>
					</tbody>
				</table>
			</div> <!-- mpd-playlist -->
			<div id="mpd-footer">
				<span id="prev-page" ng-hide="currentPage == 0" ng-click="currentPage = currentPage - 1">&lt;-- Previous</span><span id="next-page" ng-hide="currentPage >= playlistinfo.length/pageSize - 1" ng-click="currentPage = currentPage + 1">Next --&gt;</span>
			</div> <!-- mpd-footer -->
		</div> <!-- PlaylistInfoCtrl -->
	</div> <!-- mpd-container -->
</body>
</html>
