<!DOCTYPE html>
<html lang="en" data-ng-app="mpd" data-ng-controller="ServerSideEventCtrl">
<head>
	<meta charset="UTF-8"/>
	<title>MPyC</title>
	<link rel="shortcut icon" href="#"/>
	<link rel="stylesheet" id='stylesheet' href="{{ url_for('static', filename='css/style.css') }}" title='Standard layout'/>
	<!-- JavaScript loaded at end of body. -->
</head>
<body>
	<div id="container">
		<div id="status-container" class="status" data-ng-controller="StatusCtrl">
			<div id="status-left">
				<span id="current-tracktime">
					<span id="current-tracktime-text"
						data-ng-bind="status.time.split(':')[0] | duration">
					</span>/<span id="current-total-tracktime-text"
						data-ng-bind="status.time.split(':')[1] | duration">
					</span>
				</span>
				<span id="current-status-text"
					data-ng-click="toggleState()"
					data-ng-bind="status.state | state:true">
				</span>
			</div> <!-- status-left -->
			<div id="status-center">
				--| <span id="current-album-text" class="track-album-color" data-ng-bind="currentsong.album"></span> |--
				<span id="current-track" data-ng-click="broadcastCurrentSongPage()">
					<span id="current-artist-text" class="track-artist-color" data-ng-bind="currentsong.artist"></span> - <span id="current-track-text" class="track-title-color" data-ng-bind="currentsong.title"></span> (<span id="current-trackdate-text" class="track-date-color" data-ng-bind="currentsong.date"></span>)
				</span>
			</div> <!-- status-center -->
			<div id="status-right">
				<span id="volume-text" title="Volume" data-ng-bind="status.volume | volume"></span>
				<span id="flags-text" title="Flags"></span>
			</div> <!-- status-right -->
		</div> <!-- status-container --><!-- StatusCtrl -->
		<br class="clearfloat"/>
		<hr/>
		<div id="playlist-container" data-ng-controller="PlaylistInfoCtrl">
			<div id="playlist-stats">
				Playlist: (<span id="playlist-items-text" data-ng-bind="playlistinfo.length"></span> items, length: <span id="playlist-length-text" data-ng-bind="playlist_total_time_secs | duration:true"></span>)
			</div> <!-- playlist-stats -->
			<hr class="clearfloat"/>
			<div id="playlist">
				<table id="playlist-table">
					 <thead id="playlist-table-head">
						<tr>
							<th class="table-header"
								data-ng-repeat="header in headers"
								data-ng-bind="header">
							</th>
						</tr>
					</thead>
					<tbody>
						<tr id="playlist-pos-{{ '{{track.pos}}' }}"
							class="playlist-pos"
							data-ng-class="{'track-current': track.pos==currentSongPos}"
							data-ng-dblclick="trackDblClick(track.pos)"
							data-ng-repeat="track in playlistinfo | paging:currentPage*pageSize | limitTo:pageSize">
							<td class="track-{{ '{{ti}}' }} track-{{ '{{ti}}' }}-color"
								title="{{ '{{track[ti]}}' }}"
								data-ng-repeat="ti in track_info"
								data-ng-bind="track[ti]">
							</td>
						</tr>
					</tbody>
				</table> <!-- playlist-table -->
			</div> <!-- playlist -->
			<div id="footer">
				<span id="prev-page"
					data-ng-hide="currentPage <= 0"
					data-ng-click="currentPage = currentPage - 1">&lt;-- Previous</span>
				<span id="next-page"
					data-ng-hide="currentPage >= playlistinfo.length/pageSize - 1"
					data-ng-click="currentPage = currentPage + 1">Next --&gt;</span>
			</div> <!-- footer -->
		</div> <!-- playlist-container --> <!-- PlaylistInfoCtrl -->
	</div> <!-- container -->
	<!-- Late load JavaScript. -->
	<script src="{{ url_for('static', filename='js/angular.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/mpd.app.js') }}"></script>
	<script src="{{ url_for('static', filename='js/mpd.controllers.js') }}"></script>
	<script src="{{ url_for('static', filename='js/mpd.filters.js') }}"></script>
	<script src="{{ url_for('static', filename='js/mpd.services.js') }}"></script>
</body>
</html>
