/*
 * # = id
 * . = class
 */

body {
	background-color: black;
	color: white;
	font-family: monospace;
}

table {
	width: 100%;
	table-layout: fixed;
}
tbody {
	width: 100%;
	table-layout: fixed;
}
th {
	color: yellow;
	border-color: lightgrey;
	border-bottom: solid thin;
}

tr.track-current {
	background-color: #444444;
}

td {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

td.track-time {
	padding-right: 4px;
}

td.track-artist {
}

.track-album-color {
	color: red;
}
.track-artist-color {
	color: cyan;
}
.track-time-color {
	color: lightgreen;
}
.track-time-padding {
	padding: 4px;
}
.track-title-color {
	color: yellow;
}
.track-current {
	font-style: italic;
	font-weight: bold;
}

.clearfloat {
	clear: both;
}

#mpd-container {
	/*margin: auto;*/
}

#mpd-current-status-text {
	display: block;
}

#mpd-current-time-text {
	display: block;
}

#mpd-current-track {
	display: block;
}

#mpd-volume-text {
	display: block;
}

#mpd-flags-text {
	display: block;
}

#mpd-footer {
}

#mpd-playlist-stats {
	text-align: center;
}

#mpd-status-container {
}

#mpd-status-left {
	float: left;
	text-align: left;
	width: 25%;
}

#mpd-status-center {
	float: left;
	text-align: center;
	width: 50%;
}

#mpd-status-right {
	float: left;
	text-align: right;
	width: 25%;
}

#mpd-playlist-table {
	border-collapse: collapse;
	border-color: red;
	margin: 0px;
	padding: 0px;
}

#mpd-playlist-table th, td {
	text-align: left;
	padding: 0px;
	padding-right: 4px;
}

.mpd-playlist-page-hidden {
	display: none;
	visibility: hidden;
}

.mpd-playlist-page-visible {
	display: table-row-group;
	visibility: visible;
}

#prev-page {
	float: left;
	visibility: hidden;
}
#next-page {
	float: right;
	visibility: hidden;
}
